In [3]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
import seaborn as sns
from sklearn.model_selection import train_test_split
from sklearn.metrics import classification_report, confusion_matrix
from sklearn.linear_model import LogisticRegression, LinearRegression
from sklearn.ensemble import RandomForestClassifier
from sklearn.preprocessing import StandardScaler, OneHotEncoder

In [6]:
df = pd.read_csv('new_retail_data.csv')

print(df.info())
print(df.describe())
print(df.columns)

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 302010 entries, 0 to 302009
Data columns (total 30 columns):
 #   Column            Non-Null Count   Dtype
---  ------            --------------   -----
 0   Transaction_ID    301677 non-null  float64
 1   Customer_ID       301702 non-null  float64
 2   Name              301628 non-null  object
 3   Email             301663 non-null  object
 4   Phone             301648 non-null  float64
 5   Address           301695 non-null  object
 6   City              301762 non-null  object
 7   State             301729 non-null  object
 8   Zipcode           301670 non-null  float64
 9   Country           301739 non-null  object
 10  Age               301837 non-null  float64
 11  Gender            301693 non-null  object
 12  Income            301720 non-null  object
 13  Customer_Segment  301795 non-null  object
 14  Date              301651 non-null  object
 15  Year              301660 non-null  float64
 16  Month             301737 non-null  object
 17  Time              301660 non-null  object
 18  Total_Purchases   301649 non-null  float64
 19  Amount            301653 non-null  float64
 20  Total_Amount      301660 non-null  float64
 21  Product_Category  301727 non-null  object
 22  Product_Brand     301729 non-null  object
 23  Product_Type      302010 non-null  object
 24  Feedback          301826 non-null  object
 25  Shipping_Method   301673 non-null  object
 26  Payment_Method    301713 non-null  object
 27  Order_Status      301775 non-null  object
 28  Ratings           301826 non-null  float64
 29  products          302010 non-null  object
dtypes: float64(10), object(20)
memory usage: 69.1+ MB
None
       Transaction_ID    Customer_ID  ...   Total_Amount        Ratings
count    3.016770e+05  301702.000000  ...  301660.000000  301826.000000
mean     5.495823e+06   55006.553934  ...    1367.651156       3.162670
std      2.595565e+06   26005.675200  ...    1128.998515       1.320827
min      1.000007e+06   10000.000000  ...      10.003750       1.000000
25%      3.247930e+06   32469.250000  ...     438.724278       2.000000
50%      5.499657e+06   55012.000000  ...    1041.117547       3.000000
75%      7.739509e+06   77511.000000  ...    2029.999853       4.000000
max      9.999995e+06   99999.000000  ...    4999.625796       5.000000

[8 rows x 10 columns]
Index(['Transaction_ID', 'Customer_ID', 'Name', 'Email', 'Phone', 'Address',
       'City', 'State', 'Zipcode', 'Country', 'Age', 'Gender', 'Income',
       'Customer_Segment', 'Date', 'Year', 'Month', 'Time', 'Total_Purchases',
       'Amount', 'Total_Amount', 'Product_Category', 'Product_Brand',
       'Product_Type', 'Feedback', 'Shipping_Method', 'Payment_Method',
       'Order_Status', 'Ratings', 'products'],
      dtype='object')

In [16]:
print(df['products'].unique())

print(df['Product_Brand'].unique())

print(df['Product_Category'].unique())

print(df['Customer_Segment'].unique())

['Cycling shorts' 'Lenovo Tab' 'Sports equipment' 'Utility knife'
 'Chocolate cookies' 'QLED TV' 'Dress shirt' 'Dark chocolate' 'Candles'
 'Screwdriver set' 'Science' 'Bottled water' 'Fruit snacks' 'V-neck tee'
 'Drama' 'Flavored water' 'Samsung Galaxy Tab' 'Orange juice' 'Bookshelf'
 'Affogato' 'Business' 'Self-help' 'Sink' 'Grape juice' 'Stove' 'Huawei P'
 'Amazon Fire Tablet' 'Curtains' 'Pomegranate juice' 'Running shoes'
 'Political thriller' 'Google Pixel' 'Chocolate mousse' 'Vases'
 'Henley shirt' 'Toys' 'Iced tea' 'Apple juice' 'Microsoft Surface Laptop'
 'Desk' 'Bodycon dress' 'Sports headphones' 'Pendant lights' 'Clocks'
 'Comforter' 'Peacoat' 'Bed' 'White chocolate' 'Android TV'
 'Studio headphones' 'Sneakers' 'Sculptures' 'Cream soda' 'History'
 'Pliers' 'Oxfords' 'Short stories' 'Dining table' 'Cooking' 'Wall art'
 'Memoir' 'Maxi dress' 'LG Gram' 'Dishwasher' 'Cranberry juice' 'Crime'
 'Pillowcase set' 'Shower curtain' 'Samsung Galaxy' 'Curved TV'
 'DJ headphones' 'Button-down shirt' 'Purified water' 'Puffer jacket'
 'Fantasy' 'Adventure' 'Popcorn' 'Nuts' 'Detective' 'iPhone' 'LG G'
 'Chocolate-covered fruits' 'Chino shorts' 'Distilled water'
 'Literary fiction' 'Grape soda' 'T-shirt' 'Cheese snacks' 'Towel rack'
 'Blanket' 'Coffee table' 'OLED TV' 'Pineapple juice' 'HDR TV' 'Travel'
 'Crew neck tee' 'Grapefruit juice' 'Xiaomi Mi' 'Root beer'
 'Track lighting' 'Razer Blade' 'Samsung Notebook' 'Milk chocolate'
 'Varsity jacket' 'Decorative pillows' 'Crop top' 'Clothing'
 'Lemon-lime soda' 'Dresser' 'Ceiling lights' 'Loafers' 'LCD TV' 'Bathtub'
 'Dystopian' 'Bed sheet set' 'Sheath dress' 'Over-ear headphones'
 'Electric kettle' 'Mirror' 'Puzzles' 'Polo shirt' 'On-ear headphones'
 'Horror' 'Art supplies' 'Bootcut jeans' 'Sofa' 'Sparkling water'
 'Cargo shorts' 'Microsoft Surface' 'Chocolate bars' 'Essays' 'Tank top'
 'Food processor' 'Mirrors' 'Health' 'iPad' 'Energy drink'
 'Bermuda shorts' 'A-line dress' 'Asus ZenPad' 'Scoop neck tee' 'Action'
 'Henley tee' 'Spring water' 'High heels' 'Cola' 'Nokia' 'Wardrobe'
 'Drill' 'Blender' 'Alkaline water' 'Picture frames' 'Shift dress'
 'Espadrilles' 'Psychology' 'Blazer' 'Refrigerator' 'Truffles'
 'Cropped jeans' 'TV stand' 'Off-the-shoulder tee' 'Plasma TV' 'Americano'
 'Khaki shorts' 'Saw' 'Contemporary literature' 'Coffee maker' 'Smart TV'
 'Denim jacket' 'Raglan tee' 'Huawei MediaPad' 'Nightstand' 'Romance'
 'Sandals' 'Anthologies' 'Mattress topper' 'Acer Iconia Tab'
 'Caulking gun' 'Psychological thriller' 'Mineral water' 'Acer Swift'
 'Throw pillow' 'Long-sleeve tee' 'Games' 'Ginger ale' 'Motorola Moto'
 'Straight-leg jeans' 'Skorts' 'Denim shorts' 'Sony Xperia Tablet'
 'Board shorts' 'Table lamps' 'Rugs' 'LED TV' 'Fruit punch' 'Hammer'
 'Bomber jacket' 'Plain tee' 'Boots' 'Duvet cover' 'Lenovo ThinkPad'
 'Chocolate-covered nuts' 'Graphic tee' 'Wall sconces' 'Sweatshirt'
 'Instant coffee' 'Mixed fruit juice' 'Google Pixel Slate'
 'Distressed jeans' 'Desk lamps' 'Mango juice' 'Thriller'
 'Under cabinet lighting' 'Historical fiction' 'Soap dispenser' 'Latte'
 'Tomato juice' 'Artesian water' 'Pretzels' 'Athletic shorts'
 'Asus ZenBook' 'OnePlus' 'High-waisted jeans' 'Cappuccino' 'Plush toys'
 'Slippers' 'Quilt' 'Sony Xperia' 'Techno-thriller' 'Microwave'
 'Coconut water' 'Flare jeans' 'Building blocks' 'Wireless headphones'
 'Science fiction' '4K TV' 'Ground coffee' 'Beef jerky' 'Chocolate fondue'
 'Flip flops' 'Toilet' 'Books' 'MacBook' 'Flannel shirt' 'Mystery'
 'Wrench' 'Biography' 'Hoodie' 'Espresso' 'Orange soda' 'Casual dress'
 'Floor lamps' 'Wide-leg jeans' 'Bluetooth headphones' 'Mocha'
 'Dust ruffle' 'Wrap dress' 'Gaming headphones'
 'Noise-cancelling headphones' 'Suspense' 'Blouse' 'Oven'
 'Toilet paper holder' 'Skinny jeans' 'Fit and flare dress'
 'Educational kits' 'Toaster' 'Toothbrush holder' 'Parka' 'Chips'
 'Coffee beans' 'HP Spectre' 'Macchiato' 'Level' 'Recessed lighting'
 'Granola bars' 'Windbreaker' 'Trail mix' 'Boyfriend jeans' 'Trench coat'
 'Non-fiction literature' 'Leather jacket' 'Crackers' 'Modern literature'
 'Swim trunks' 'Dell XPS' 'In-ear headphones' 'Cocktail dress'
 'Tape measure' 'Poetry' 'Low-rise jeans' 'Chandeliers' 'Bed skirt'
 'Legal thriller' 'Classic literature' 'Shower' 'Sundress' 'Mini fridge'
 'Counter-depth refrigerator' 'Smart refrigerator'
 'Stainless steel refrigerator' 'Top-freezer refrigerator'
 'French door refrigerator' 'Side-by-side refrigerator'
 'Compact refrigerator' 'Black refrigerator' 'Bottom-freezer refrigerator'
 'Central AC' 'Ductless AC' 'Portable AC' 'Air conditioner'
 'Floor-standing AC' 'Split AC' 'Window AC' 'Inverter AC' 'Cassette AC'
 'Mini-split AC' 'Package AC']
['Nike' 'Samsung' 'Penguin Books' 'Home Depot' 'Nestle' 'Apple' 'Zara'
 'Random House' 'Coca-Cola' 'Adidas' 'Pepsi' 'IKEA' 'HarperCollins'
 'Bed Bath & Beyond' 'Sony' nan 'Whirepool' 'Mitsubhisi' 'BlueStar']
['Clothing' 'Electronics' 'Books' 'Home Decor' 'Grocery' nan]
['Regular' 'Premium' 'New' nan]

UNDERSTAND THE TOTAL AMOUNTS PE

In [27]:
df['Date'] = pd.to_datetime(df['Date'], errors='coerce')


#Normalize Categorical Columns
for c in ['products', 'Product_Brand', 'Product_Category', 'Product_Type']:
    if c in df.columns:
        df[c] = df[c].astype(str).str.strip().str.lower()


#normalize numerical columns
for c in['Amount', 'Total_Amount', 'Quantity', 'Total_Purchase']:
    if c in df.columns:
        df[c] = pd.to_numeric(df[c], errors='coerce')

amount = df.get('Amount')
qty = df.get('Quantity')
total = df.get('Total_Amount')

# Initialize sales as NaN
df['sales'] = np.nan

# Safely assign sales based on existing columns
if total is not None:
    df['sales'] = total
elif qty is not None and amount is not None:
    df['sales'] = qty * amount
elif amount is not None:
    df['sales'] = amount

df['YearMonth'] = df['Date'].dt.to_period('M').dt.to_timestamp()

print(df[['Date','YearMonth','Product_Brand','Product_Category','Product_Type','products','Amount','Total_Amount','sales']].head())
print(df['sales'].describe())

        Date  YearMonth  Product_Brand  ...      Amount Total_Amount        sales
0 2023-09-18 2023-09-01           nike  ...  108.028757   324.086270   324.086270
1 2023-12-31 2023-12-01        samsung  ...  403.353907   806.707815   806.707815
2 2023-04-26 2023-04-01  penguin books  ...  354.477600  1063.432799  1063.432799
3 2023-05-08 2023-05-01     home depot  ...  352.407717  2466.854021  2466.854021
4 2024-01-10 2024-01-01         nestle  ...  124.276524   248.553049   248.553049

[5 rows x 9 columns]
count    301660.000000
mean       1367.651156
std        1128.998515
min          10.003750
25%         438.724278
50%        1041.117547
75%        2029.999853
max        4999.625796
Name: sales, dtype: float64

In [ ]:
agg_cols = ['YearMonth', 'Product_Brand', 'Product_Category', 'Product_Type', 'products']

monthly = (df.dropna(subset=['YearMonth', 'sales']).groupby(agg_cols, dropna=False).agg(total_sales=('sales', 'sum'),
                                                                                        orders=('Transaction_ID', 'nunique'),
                                                                                        total_purchase=('Total_Purchases', 'sum')).reset_index())

top = (monthly.groupby(['Product_Brand', 'products'], as_index=False)['total_sales'].sum().sort_values(['Product_Brand', 'total_sales'], ascending=[True, False]))
display(top.head(20))


sample = monthly[(monthly['Product_Brand']=='brand_a') & (monthly['products']=='product_x')]